

body {
    background: #DED9E2;
    background-size: cover;
}

.disappearing {
}

.header {
    color: white;
    background: #171d1c;
    display: flex;
    justify-content: space-around;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.menu {
    width: 205px;
    font-size: 14px;
}

.menu a {
    margin-right: 6%;
}

.logo {
    font-size: 36px;
    text-decoration: none;
}

a {
    color: white;
}

.text_on_img {
    color: white;
    font-size: 36px;
    position: relative;
    text-align: center;
}

.text_on_img img {
    width: 100%;
    height: auto;
}

.text_on_img div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_text {
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 9%;
    margin-top: 6%;
    margin-right: 12.3%;
    margin-left: 12.3%;
}

.headline {
    color: black;
    font-size: 36px;
    text-align: center;
    margin-bottom: 3%;
}

.inside_headline {
    color: black;
    font-size: 26px;
    text-align: center;
    margin-bottom: 2%;
}

.inside_text {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.grid {
    display: flex;
    justify-content: center;
    margin-bottom: 7.5%;
}

.grid_block {
    color: black;
    font-size: 14px;
    background: #C4C4C4;
    width: 33%;
}

.center_grid_block {
    color: black;
    font-size: 14px;
    background: #C4C4C4;
    width: 33%;
    margin-right: 0.25%;
    margin-left: 0.25%;
}

.block {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.block div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.block img {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    max-height: 22%;
    max-width: 22%;
}

.left_img {
    margin-left: 5%;
}

.right_img {
    margin-right: 5%;
}

.buy {
    margin-top: 10%;
}

.buy div {
    display: flex;
    justify-content: center;
}

.apply {
    display: inline-block;
    background: #171d1c;
    color: white;
    margin-top: 3%;
    font-size: 18px;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.footer {
    background: #171d1c;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.footer div {
    font-size: 14px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer a {
    margin-bottom: 1%;
    margin-top: 1%;
}

.success {
    color: lawngreen;
}

.error {
    color: crimson;
}

@media (max-width: 800px) {
    .text_on_img {
        font-size: 20px;
    }

    .grid {
        flex-direction: column;
    }

    .grid_block {
        width: 100%;
        margin-bottom: 1%;
    }

    .center_grid_block {
        width: 100%;
        margin-bottom: 1%;
    }

    .disappearing {
        display: none;
    }

    .right_img {
        display: none;
    }

    .left_img {
        display: none;
    }
}

@media (max-width: 600px) {
    .text_on_img {
        font-size: 15px;
    }

    .footer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .footer div {
        width: 100%;
        font-size: 12px;
    }
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 230px;
    background-color: #171d1c;
    height: 100%;
    top: 0;
    left: -230px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}
.btn-menu {
     color: #fff;
     background-color: #171d1c;
     padding: 5px;
     top: 5px;
     left: 5px;
     cursor: pointer;
     transition: left .23s;
     z-index: 3;
     margin-right: 2%;
     width: 70px;
     -webkit-transform: translateZ(0);
     -webkit-backface-visibility: hidden;
 }

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
